# Fedora builds are implemented but are disabled until we decide we
# need them; Travis limits our number of concurrent jobs so we don't
# want more than are necessary.
# The Fedora docker images are "fedora:26" and "fedora:27"

# Also, the following gram tests failed for all fedora versions:
#   nonblocking-register-test.pl, register-callback-test.pl, register-test.pl
arch:
  # Disabled for now
  #- amd64
  # Handled via partner queue, uncharged
  - ppc64le
  #- arm64
jobs:
  include:

    - &run_tests
      # Template; subsequent uses modify 'env'
      env:
        - IMAGE=centos:centos7 TASK=tests COMPONENTS=udt,myproxy,ssh
      stage: test
      sudo: required
      services:
        - docker

      before_install:
        - sudo apt-get update
        - sleep 5
        - sudo docker pull ${IMAGE}

      script:
      - travis-ci/setup_tasks.sh
    - <<: *run_tests
      env:
        - IMAGE=centos:centos7 TASK=tests COMPONENTS=gram5

    - stage: deploy
      env:
        - IMAGE=centos:centos7 TASK=srpms
      # Only deploy from a single arch, select one and remove comment at front
      # when multiple arches are enabled above
      #arch: amd64
      #arch: ppc64le
      #arch: arm64
      sudo: required
      skip_cleanup: true
      services:
        - docker

      before_install:
        - sudo apt-get update
        - sleep 5
        - sudo docker pull ${IMAGE}

      script:
      - travis-ci/setup_tasks.sh
      deploy:
        # - provider: releases
        #   on:
        #     tags: true
        #     all_branches: false
        #     repo: gridcf/gct
        #   skip_cleanup: true
        #   file_glob: true
        #   overwrite: true
        #   # ^ this doesn't actually work but I'm leaving it in there in
        #   #   case it gets fixed later
        #   api_key:
        #     secure: "P7dxZ4ytzt37uXzmgO1P47/83yL1NlaK9tPVYRknHkxRxPm8+inTE+tvfrnCfoZJwLmF5lbtB4+CnLKz7q142adhAxgU2mKQ/0CPj7cJ+icraV/S6hoQnuI3XEtWseWwzi9rrnodCnTdKsVzopipafmo4b0u680ZFvuWjSAu5lSGI2C0myIcOEr0o0RVhVwkEoY1HJO2bmOEPeriXVAqCG0QTCZglZRCKDN53IgYz8vuDgu78wqBoQl3uNzTWgI5hbi/ST1+enc3pbBUoxzQJvJZeQDEpNLS5EDU7ZppMLP5B3MDDO3G3W0RXsQhAWbsWHytTy6CH3dsSlKK7JyyAuDnk4kchyYtVHNWlTYcMMUZHTVBBtBwgeiyeFExJq0ESuPWAiAAmaeXGNyzvXNzKVltwKe/DI3Tit6PeETHzS9QOmo/CkMSnDDlKBbauQD+Po3Ei7tTkpVKdQ5objIpD2L7OKegheIy1rMPEE7QM9npP/SoD4RCI4ylwSJzkOS+y5ow4dyg0r2KkA2/DwYRHqbok7Rs8TotENjsybNyTfhKdeV7bsQHCAqOz3dGBV2ah8GVJHwH/Y9X6G/9ZuiljPt2xHL4nxD/Fl7PT6kPfjQOq9P6UVtxbEopVwyQ/JRTWkTIYhRAiA3CRxmOUEXlxqFX+iZ6OfnidsgV1vfjCp4="
        #   file: travis_deploy/*
        - provider: script
          on:
            tags: true
            all_branches: false
            repo: gridcf/gct
          skip_cleanup: true
          script: bash travis-ci/upload_source_tarballs.sh gridcf


# vim:ft=yaml:sw=2:sts=2:et
