Source: globus-gass-cache
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config, libglobus-common-dev (>= 15), libssl-dev, doxygen
Standards-Version: 4.1.3
Section: net
Homepage: https://github.com/gridcf/gct/

Package: libglobus-gass-cache5
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Grid Community Toolkit - Globus Gass Cache
 The Grid Community Toolkit (GCT) is an open source software toolkit used for
 building grid systems and applications. It is a fork of the Globus Toolkit
 originally created by the Globus Alliance. It is supported by the Grid
 Community Forum (GridCF) that provides community-based support for core
 software packages in grid computing.
 .
 The libglobus-gass-cache5 package contains:
 Globus Gass Cache

Package: libglobus-gass-cache-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libglobus-gass-cache5 (= ${binary:Version}), ${misc:Depends}, libglobus-common-dev (>= 15), libssl-dev
Suggests: libglobus-gass-cache-doc (= ${source:Version})
Description: Grid Community Toolkit - Globus Gass Cache Development Files
 The Grid Community Toolkit (GCT) is an open source software toolkit used for
 building grid systems and applications. It is a fork of the Globus Toolkit
 originally created by the Globus Alliance. It is supported by the Grid
 Community Forum (GridCF) that provides community-based support for core
 software packages in grid computing.
 .
 The libglobus-gass-cache-dev package contains:
 Globus Gass Cache Development Files

Package: libglobus-gass-cache-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Grid Community Toolkit - Globus Gass Cache Documentation Files
 The Grid Community Toolkit (GCT) is an open source software toolkit used for
 building grid systems and applications. It is a fork of the Globus Toolkit
 originally created by the Globus Alliance. It is supported by the Grid
 Community Forum (GridCF) that provides community-based support for core
 software packages in grid computing.
 .
 The libglobus-gass-cache-doc package contains:
 Globus Gass Cache Documentation Files
