Source: gsi-openssh
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Build-Depends: debhelper (>= 9), dh-autoreconf, libldap2-dev, zlib1g-dev, libaudit-dev, libpam-dev, libwrap0-dev, libssl-dev, libglobus-gss-assist-dev, globus-common-progs, libedit-dev, pkg-config, libglobus-gssapi-gsi-dev (>= 12.12)
Standards-Version: 3.9.2
Section: net
Homepage: https://github.com/gridcf/gct/

Package: gsi-openssh
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GSI OpenSSH
 OpenSSH is a free version of SSH (Secure SHell), a program for logging
 into and executing commands on a remote machine. This package includes
 the clients necessary to make encrypted connections to SSH servers.
 .
 This version of OpenSSH has been modified to support GSI authentication.
 .
 The gsi-openssh package contains:
 GSI OpenSSH Common files

Package: gsi-openssh-clients
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GSI OpenSSH Clients
 OpenSSH is a free version of SSH (Secure SHell), a program for logging
 into and executing commands on a remote machine. This package includes
 the clients necessary to make encrypted connections to SSH servers.
 .
 This version of OpenSSH has been modified to support GSI authentication.
 .
 The gsi-openssh-clients package contains:
 GSI OpenSSH Clients

Package: gsi-openssh-server
Section: net
Architecture: any
Depends: gsi-openssh (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6), adduser
Description: GSI OpenSSH Server
 OpenSSH is a free version of SSH (Secure SHell), a program for logging
 into and executing commands on a remote machine. This package contains
 the secure shell daemon (sshd). The sshd daemon allows SSH clients to
 securely connect to your SSH server.
 .
 This version of OpenSSH has been modified to support GSI authentication.
 .
 The gsi-openssh-server package contains:
 GSI OpenSSH Server

Package: gsi-openssh-dbg
Section: debug
Priority: optional
Architecture: any
Depends: gsi-openssh (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: GSI OpenSSH Debug Symbols
 OpenSSH is a free version of SSH (Secure SHell), a program for logging
 into and executing commands on a remote machine. This package contains
 the secure shell daemon (sshd). The sshd daemon allows SSH clients to
 securely connect to your SSH server.
 .
 This version of OpenSSH has been modified to support GSI authentication.
 .
 The gsi-openssh-dbg package contains:
 GSI OpenSSH Debug Symbols
