Source: globus-gram-job-manager-slurm
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.3
Section: net
Homepage: https://github.com/gridcf/gct/

Package: globus-gram-job-manager-slurm
Section: net
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${perl:Depends}, globus-gram-job-manager (>= 13), globus-gram-job-manager-scripts (>= 4), globus-gass-cache-program (>= 5), globus-gatekeeper (>= 9)
Provides: globus-gram-job-manager-slurm-setup-poll
Replaces: globus-gram-job-manager-slurm-setup-poll (<< 3)
Conflicts: globus-gram-job-manager-slurm-setup-poll (<< 3)
Description: Grid Community Toolkit - SLURM Job Manager Support
 The Grid Community Toolkit (GCT) is an open source software toolkit used for
 building grid systems and applications. It is a fork of the Globus Toolkit
 originally created by the Globus Alliance. It is supported by the Grid
 Community Forum (GridCF) that provides community-based support for core
 software packages in grid computing.
 .
 The globus-gram-job-manager-slurm package contains:
 SLURM Job Manager Support
