Source: globus-gass-cache-program
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config, libglobus-common-dev (>= 15), libglobus-gass-cache-dev (>= 8), libglobus-gass-copy-dev (>= 8), libglobus-gass-transfer-dev (>= 7), libglobus-gass-server-ez-dev (>= 4), libglobus-gram-client-dev (>= 12)
Standards-Version: 4.1.3
Section: net
Homepage: https://github.com/gridcf/gct/

Package: globus-gass-cache-program
Section: net
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: Grid Community Toolkit - Tools to manipulate local and remote GASS caches
 The Grid Community Toolkit (GCT) is an open source software toolkit used for
 building grid systems and applications. It is a fork of the Globus Toolkit
 originally created by the Globus Alliance. It is supported by the Grid
 Community Forum (GridCF) that provides community-based support for core
 software packages in grid computing.
 .
 The globus-gass-cache-program package contains:
 Tools to manipulate local and remote GASS caches
