Source: globus-gram-job-manager-condor
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.3
Section: net
Homepage: https://github.com/gridcf/gct/

Package: globus-gram-job-manager-condor
Section: net
Architecture: all
Multi-Arch: foreign
Provides: globus-gram-job-manager-setup-condor
Replaces: globus-gram-job-manager-setup-condor (<< 4.5), globus-gram-job-manager-setup-condor-doc (<< 4.5)
Conflicts: globus-gram-job-manager-setup-condor (<< 4.5), globus-gram-job-manager-setup-condor-doc (<< 4.5)
Depends: ${misc:Depends}, ${perl:Depends}, globus-gram-job-manager (>= 13), globus-gram-job-manager-scripts (>= 4), globus-gass-cache-program (>= 5), globus-gatekeeper (>= 9)
Description: Grid Community Toolkit - Condor Job Manager Support
 The Grid Community Toolkit (GCT) is an open source software toolkit used for
 building grid systems and applications. It is a fork of the Globus Toolkit
 originally created by the Globus Alliance. It is supported by the Grid
 Community Forum (GridCF) that provides community-based support for core
 software packages in grid computing.
 .
 The globus-gram-job-manager-condor package contains:
 Condor Job Manager Support
