name: Build/Test/Deploy arm64

on:
  push:
    branches:
      - master
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+.[0-9]+
  pull_request:

jobs:
  run-scripts:
    runs-on: ubuntu-24.04-arm
    strategy:
      # Don't cancel the remaining running jobs if some job(s) fail(s)
      fail-fast: false
      matrix:
        image: ['rockylinux:8']
        components: ['udt,myproxy,ssh', 'gram5']
        # Ignore UDT for the CentOS Stream 9 case because libnice is not available there yet
        include:
          - image: 'quay.io/centos/centos:stream9'
            components: 'myproxy,ssh'
          - image: 'quay.io/centos/centos:stream9'
            components: 'gram5'
          - image: 'quay.io/centos/centos:stream10'
            components: 'myproxy,ssh'
          - image: 'quay.io/centos/centos:stream10'
            components: 'gram5'
          - image: 'rockylinux:9'
            components: 'myproxy,ssh'
          - image: 'rockylinux:9'
            components: 'gram5'
          - image: 'rockylinux/rockylinux:10'
            components: 'myproxy,ssh'
          - image: 'rockylinux/rockylinux:10'
            components: 'gram5'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: build/test on ${{ matrix.image }} with ${{ matrix.components }}
        env:
          IMAGE: ${{ matrix.image }}
          TASK: tests
          COMPONENTS: ${{ matrix.components }}
        run: travis-ci/setup_tasks.sh

      - name: build source tarballs and srpms
        # Run this step for all OS cases but for only one component selection each,
        # it still builds **all** source tarballs and SRPMs
        if: |
          contains(matrix.components , 'gram5')
        env:
          IMAGE: ${{ matrix.image }}
          TASK: srpms
        run: travis-ci/setup_tasks.sh
